<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>album_form</title>
	</head>
	<body>
      <form method="post" action="">
         {% csrf_token %}
    <table>
		{% for field in form %}
	  	<div class="fieldWrapper">
	  		{{field.errors}}
	  		{{field.label_tag}} {{field}}
	  	</div>
	  {% endfor %}
    </table>
    <table>
		{{ guest_formset.management_form }}
		{% for form_it in guest_formset %}
	  	<div>
	  		{{form_it}}
	  	</div>
	  {% endfor %}
    </table>
    <input type="submit"/>
    </form>
	</body>
</html>
