<div class="modal fade" id="rsvpModal" tabindex="-1" role="dialog" aria-labelledby="rsvpModal">
  <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">Réponse</h4>
	  </div>
	  <form class="probootstrap-form" action="" method="post">

	  <div class="modal-body">
		  {% csrf_token %}
		  <div>
		  {{ guest_formset.management_form }}

          <table class="table table-striped">
              <thead>
                  <th>present au :</th>
                  <th>cocktail</th>
                  <th>dinner</th>
                  {% if form.instance.invited_brunch %}
                  <th>brunch</th>
                  {% endif%}
              </thead>
              <tbody>
                  {% for form_it in guest_formset %}
                  <tr>
                      <td>{{form_it.instance.first_name}} {{form_it.instance.last_name}}</td>

                      <td>
                          {{ form_it.attending_cocktail.error }}
                          {{ form_it.attending_cocktail }}
                      </td>
                      <td>
                          {{ form_it.attending_dinner.error }}
                          {{ form_it.attending_dinner }}
                      </td>
                      {% if form.instance.invited_brunch %}
                      <td>
                          {{ form_it.attending_brunch.error }}
                          {{ form_it.attending_brunch }}
                      </td>
                      {% endif %}
                      {% for field in form_it.hidden_fields %}
        				  {{field}}
        			  {% endfor %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>

		</div>
		<fieldset>
		{% for field in form %}
		<div class="form-group">
		  {{field.errors}}
		  {{field.label_tag}}
		  <br>
		  {{field}}
		</div>
		{% endfor %}
		</fieldset>
		</div>
		<fieldset>

		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			<input type="submit" class="btn btn-primary" value="Répondre"></input>
		  </div>
		</fieldset>

	</form>
  </div>
</div>
</div>
